[Unit]
Description=Watch and Sync S3 to Timesketch

[Service]
ExecStart=/usr/bin/python3 /opt/watch-s3-to-timesketch.py

[Install]
WantedBy=multi-user.target
